<pre>
- Новосибирск (вылет 10 марта в 12:00) - Москва (прилет 10 марта в 14:00)
- Москва (вылет 10 марта в 15:00) - Стамбул ( прилет 10 марта в 17:00)
- Москва (Вылет 10 марта в 20:00) - Париж ( прилет 10 марта в 22:00)
- Москва (Вылет 10 марта в 13:00) - Лондон (прилет 10 марта в 13:00)

Должно получится 6 маршрутов:

- Новосибирск - Стамбул
- Новосибирск - Париж
- Новосибирск - Москва
- Москва - Париж
- Москва - Стамбул
- Москва - Лондон
</pre>

<br>
<br>

<app-form-resolver (addedTicket)="tickets = $event"></app-form-resolver>
<app-routes [tickets]="tickets"></app-routes>
